div.root *{
  display: flex;
  align-items: center;
  justify-content: center;
}
div.root{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header.head{
  width: 100vw;
  background: aqua;
  height: 15vh;
}
nav.nav{
  width: 100vw;
  background: coral;
  height: 15vh;
}
div.middle{
  display: flex;
  background: yellow;
  flex-direction: row;
}
section.main{
  width: 70vw;
  background: green;
  height: 55vh;
}
aside.aside{
  width: 30vw;
  background: blue;
  height: 55vh;
}
footer.footer{
  width: 100vw;
  background:  red;
  height: 15vh;
}